
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
<div class="row">
    <div class="barra-lateral">
        /*<img src="Content/imagens/logo-cwi.png" alt="Logo-Cwi">*/
    </div>
        <div class="tela-login">
             <h1 id="titulo-login">Login Administrativo</h1>

            @using (Html.BeginForm("FazerLogin", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.TextBox("email", "", new { placeholder = "E-mail" });
                <br /><br />
                @Html.Password("senha", "", new { placeholder = "Senha" });
                <br /><br />
                <button type="submit" class="btn btn-default">Entrar</button>
            }
            <h5 style="color:red;">@TempData["mensagemLogin"]</h5>
        </div>
</div>
</body>
</html>
