@model InscricoesCrescer.Models.CadastroEntrevistaModel



@using (Ajax.BeginForm("SalvarEntrevista", "Administrativo", new AjaxOptions {HttpMethod = "Post", OnSuccess = "sucessoCadastroEntrevista"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Cadastro Entrevista</h2>
        <div id="mensagem" class="alert alert-info" hidden>
        </div>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.CandidatoEntidadeId)
            @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.DataEntrevista, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataEntrevista, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.DataEntrevista, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParecerRH, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ParecerRH, new { @class = "form-control", rows="4", maxlength="4000" } )
                @Html.ValidationMessageFor(model => model.ParecerRH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParecerTecnico, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ParecerTecnico, new { @class = "form-control", rows = "4", maxlength = "4000" } )
                @Html.ValidationMessageFor(model => model.ParecerTecnico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvaG36, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProvaG36, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.ProvaG36, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvaAC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProvaAC, new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.ProvaAC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProvaTecnica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProvaTecnica, new { @class = "form-control", type = "number", min = "0", max = "10", step = "0.1"} )
                @Html.ValidationMessageFor(model => model.ProvaTecnica, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}