@model InscricoesCrescer.Models.CandidatoParaViewModel
@using InscricoesCrescer.Models
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-10">
                        <h4 class="container-id"id="@Model.Id">
                            @Model.Nome
                        </h4>
                        <p>
                            <i class="glyphicon glyphicon-education"></i><span> @Model.Instituicao</span>
                            <br />
                            <i class="glyphicon glyphicon-book"></i><span> @Model.Curso</span>
                            <br />
                            <i class="glyphicon glyphicon-envelope"></i><span> @Model.Email</span>
                            <br />
                        </p>
                        <button class="btn btn-default" id="nova-entrevista">Nova Entrevista</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="no-more-tables">
        <table class="col-md-10 table table-striped cf">
            <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>Data da Entrevista</th>
                    <th>Cadastro de Entrevista</th>
                    <th>Administrador</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Entrevistas != null)
                {
                    foreach (EntrevistaParaViewModel entrevista in Model.Entrevistas)
                    {
                        <tr>
                            <td>@entrevista.Id</td>
                            <td>@entrevista.DataEntrevista</td>
                            <td><a id="@entrevista.Id" href="#" class="abrir-cadastro-entrevista">Abrir Cadastro de Entrevista</a> </td>
                            <td>@entrevista.EmailAdministrador</td>                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
