@model InscricoesCrescer.Models.CandidatoParaViewModel
@using InscricoesCrescer.Models
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <h4>
                            @Model.Nome
                        </h4>
                        <small>
                            <cite title="@Model.Instituicao">
                                @Model.Instituicao <i class="glyphicon glyphicon-map-marker">
                                </i>
                            </cite>
                        </small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>@Model.Curso
                            <br />
                            <i class="glyphicon glyphicon-globe"></i>@Model.Email
                            <br />
                        </p>
                        <a href="~/Administrativo/CadastroEntrevista/@Model.Id"><button class="btn btn-default">Nova Entrevista</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="no-more-tables">
        <table class="col-md-10 table table-striped cf">
            <thead class="cf">
                <tr>
                    <th>#</th>
                    <th>Data da Entrevista</th>
                    <th>Cadastro de Entrevista</th>
                    <th>Administrador</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Entrevistas != null)
                {
                    foreach (EntrevistaParaViewModel entrevista in Model.Entrevistas)
                    {
                        <tr>
                            <td class="coluna-id-entrevista" id="@entrevista.Id">@entrevista.Id</td>
                            <td>@entrevista.DataEntrevista</td>
                            <td><a href="#" cass="abrir-cadastro-entrevista">Abrir Cadastro de Entrevista</a> </td>
                            <td>@entrevista.EmailAdministrador</td>                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
