 @*@model List<InscricoesCrescer.Models.SelecaoModel>
    @using InscricoesCrescer.Models
*@

<div class="cadastro-processo-seletivo">
@using (Html.BeginForm("Salvar", "Index", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(model => model.EntrevistasInicio, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.EntrevistasInicio, new { @class = "form-control datefield", type = "date", required = "" })
            @Html.ValidationMessageFor(model => model.EntrevistasInicio)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SelecaoFinal, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.SelecaoFinal, new { @class = "form-control datefield", type = "date", required = "" })
            @Html.ValidationMessageFor(model => model.SelecaoFinal)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AulasInicio, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.AulasInicio, new { @class = "form-control datefield", type = "date", required = "" })
            @Html.ValidationMessageFor(model => model.AulasInicio)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AulasFinal, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.AulasFinal, new { @class = "form-control datefield", type = "date", required = "" })
            @Html.ValidationMessageFor(model => model.AulasFinal)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ano, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.Ano, new { @class = "form-control datefield", type = "disable", required = "" })
            @Html.ValidationMessageFor(model => model.Ano)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Semestre, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-5">
            @Html.TextBoxFor(model => model.Semestre, new { @class = "form-control datefield", type = "disable", required = "" })
            @Html.ValidationMessageFor(model => model.Semestre)
        </div>
    </div>
      <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Salvar</button>
                </div>
            </div>
}
</div>
